<div class="mt-4">
    <div class="row">
        <div class="col-7 ">
            <img src="{{sports.imageslug}}" alt="" style="width:100%">
        </div>
        <div class="col-5 list_content">
            <ul class="list_achievement">
                <h3>{{sports.name}}</h3>
                <li><i class="far fa-futbol"></i> Total Matchs: {{sports.totalmatch}}</li>
                <li><i class="far fa-futbol"></i> Goal: {{sports.goal}}</li>
                <li><i class="far fa-futbol"></i> Goal Country: {{sports.goal_country}}</li>
                <li><i class="far fa-futbol"></i> Ballon: {{sports.ballon}}</li>
            </ul>
        </div>

    </div>

</div>